html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%;
}

.wrap {
  width: 800px;
  margin: 10px auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 7.5px;
}

.card-wrap {
  width: 33.3333%;
  padding: 0 7.5px 15px 7.5px;
  display: flex;
}

.card {
  background-color: white;
  width: 245px;
  padding: 30px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  transition: box-shadow 0.1s;
}

.card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.card img {
  height: 100px;
  margin-bottom: 15px;
}

.headline {
  color: #3a3b3e;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.tagline {
  color: #aaa;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  background-size: 100% 200%;
}

.card:hover .image {
  background-position: bottom;
}

/* frontpage */
.card #forum {           background-image: url('img/forum-sprite.png'); }
.card #transport {       background-image: url('img/transport-sprite.png'); }
.card #culture {         background-image: url('img/culture-sprite.png'); }
.card #learn-norwegian { background-image: url('img/learn-norwegian-sprite.png'); }
.card #jobs {            background-image: url('img/jobs-sprite.png'); }
.card #activities {      background-image: url('img/activities-sprite.png'); }
.card #health {          background-image: url('img/health-sprite.png'); }
.card #save-money {      background-image: url('img/save-money-sprite.png'); }
.card #approval {        background-image: url('img/approval-sprite.png'); }

/* save money */
.card #free-clothes {    background-image: url('img/free-clothes-sprite.png'); }
.card #shopping-sweden {    background-image: url('img/shopping-sweden-sprite.png'); }
.card #rent-stuff {    background-image: url('img/rent-stuff-sprite.png'); }
.card #free-stuff {    background-image: url('img/free-stuff-sprite.png'); }
.card #food-discounts {    background-image: url('img/food-discounts-sprite.png'); }
.card #dumpster-diving {    background-image: url('img/dumpster-diving-sprite.png'); }



/* MODAL */
.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #f9f9f9;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
  max-width: 770px;
}

/* The close button */
.modal-close {
  position: absolute;
  top: 13px;
  right: 18px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* overrides */
.modal button {
  margin-bottom: 15px;
}

.modal h2 {
  text-align: center;
  margin-bottom: 15px;
}



/* LANGUAGE SELECTOR */
.languages {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 200px;
}

.language {
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  line-height: 1;
  width: 180px;
  cursor: pointer;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.language:hover {
  border: 1px solid #ccc;
  background-color: whitesmoke;
}

.language .flag {
  height: 25px;
  margin-right: 5px;
  border-radius: 3px;
}

.language-header {
  margin-bottom: 15px;
}

.language-search {
  padding: 5px 10px;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  font-family: inherit;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #999;
}


/* ALERT */
.alert {
  background-color: #9F3A38;
  color: white;
  display: none;
}

.alert-content {
  width: 780px;
  margin: 0 auto;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* BUTTON */
.button.hollow {

}

.button {
    -webkit-appearance: none;
    padding: 7px 10px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1;
    border-radius: 2px;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 0;
    background-color: transparent;
    text-shadow: none;
    font-weight: normal;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.site-header {
  text-align: center;
  font-weight: 300;
}

hr {
  margin: 10px 15px;
}

.article-wrap {
  max-width: 500px;
  width: auto;
}

.article-content {
  padding: 0 15px;
}

.article-image {
  display: block;
  border: 1px solid #bbb;
  border-radius: 5px;
}

a {
  color: #2793C7;
  text-decoration: none;
}

ul {
  margin-left: 20px;
  line-height: 1.4;
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

p {
  margin-bottom: 15px;
}

.panel {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 1em;
}
